body {
    margin: 0;
    background: #0f172a;
    color: white;
    font-family: Arial;
}

.hero {
    text-align: center;
    padding: 60px;
}

.logo {
    width: 120px;
}

h1, h2 {
    color: gold;
}

section {
    padding: 40px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: gold;
    border: none;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    color: white;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}
